<div class="contenedor-principal">
    <div class="botones-contenedor">
      <div class="fila">
        <button class="button button-aceptar" (click)="emitirAccion('Aceptar')">Aceptar</button>
        <button class="button button-cancelar" (click)="emitirAccion('Cancelar')">Cancelar</button>
      </div>
      <div class="fila">
        <button class="button button-primario" (click)="emitirAccion('Primario')">Primario</button>
        <button class="button button-secundario" (click)="emitirAccion('Secundario')">Secundario</button>
      </div>
      <div class="fila">
        <button class="button button-modo-oscuro" (click)="emitirAccion('ModoOscuro')"></button>
      </div>
    </div>
  </div>
  