.container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* Dos columnas con proporciones ajustadas */
  gap: 30px;
  padding: 40px;
  height: auto;
  border: none;
  background-color: #f1f3f5;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.right {
  justify-content: center;
  height: auto;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.fields {
  width: 100%;
}
body.dark-mode {
  background-color: #121212; /* Fondo gris oscuro */
  color: #e0e0e0; /* Texto gris claro */
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .container {
  background-color: #1e1e1e; /* Fondo del contenedor */
  border-color: #444;
}

body.dark-mode button {
  background-color: #333; /* Fondo oscuro para botones */
  color: #f8f9fa; /* Texto claro */
  border: 1px solid #555; /* Borde sutil */
}

body.dark-mode .right {
  background-color: #333;
  border-color: #555;
  color: #f8f9fa;
}

body.dark-mode .square {
  color: #f8f9fa; /* Texto claro */
}

body.dark-mode .fields {
  background-color: #444444;
  border-color: #555;
  color: #f8f9fa;
}



