/* Modo Oscuro Global */
body.dark-mode {
  background-color: #121212; /* Fondo gris oscuro */
  color: #e0e0e0; /* Texto gris claro */
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark-mode .container {
  background-color: #1e1e1e; /* Fondo del contenedor */
  border-color: #444;
}

body.dark-mode button {
  background-color: #333; /* Fondo oscuro para botones */
  color: #f8f9fa; /* Texto claro */
  border: 1px solid #555; /* Borde sutil */
}

body.dark-mode .right {
  background-color: #333;
  border-color: #555;
  color: #f8f9fa;
}

body.dark-mode .square {
  color: #f8f9fa; /* Texto claro */
}

body.dark-mode .fields {
  background-color: #444444;
  border-color: #555;
  color: #f8f9fa;
}
body {
  position: relative;
}


